# if using blender's python: 
# change the version number to switch blender versions, and uncomment below.
# export PATH="/Applications/Blender-3.4.1-pyddg.app/Contents/MacOS:$PATH"
eval "$(poetry env activate)"
